.wrapper{
  font-family: arial, sans-serif;
  max-width: 600px;
  text-align: center;
}

#time{
  font-size: 60px;
  margin: 20px 0;
}

button {
  font-size: 30px;
  display: inline-block;
  padding: 13px 30px;
}