input {
  width: 120px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
}

.display {
  width: 490px;
  border-radius: 5px;

}

.get_total {
  width: 245px
 }

.all_clear{
  width: 245px
}

input:hover {
   border: 2px solid blue
}